  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

  /* "*"* = seletor universal"*/

  * {
    margin: 0;
    /*ê a margem externavdo acomponente*/
    padding: 0;
    /*ê a margem interna acomponente*/

    box-sizing: border-box;
    /*ela define como iremos editar a altura e largura dos elemento*/
    /*border-box = ela editar o tamanho atraves da borda
  /*content-box = editar o contteúdo apenas*/

  }

  header {
    padding: 2rem;
    background-color: #331F19;
    text-align: center;
    margin-top: -2rem;

  }

  h1 {
    font-family: "Dancing Script";
    /*Dancing Script*/
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #e6c592;
    padding: 5px;
    margin-bottom: -20px;
    box-sizing: content-box;
  }

  body {
    background-color: #F8EEDE;
  }

  main {
    padding: 2rem;
    display: flex;
    /*display: ê o modo que o conteudo vai ser exibido. O*/
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
  }

  section {
    display: flex;
    /* define como um elemento vai parecer na tela se ele for flex, ele fica na forma de linha (que é o padrão) */
    /*se usa quando está usando o atributo flex (transforma os itens automaticamente em flexnitens) no display*/
    flex-direction: column;
    /*por padrao ele vem em row, mas dependendo tem que se colocar em column que ê a forma qur fazemis os itens*/
    gap: 1rem;
    /* define o espaçamento das flex itens*/
  }

  h2 {
    color: #331f19;
    font-size: 1.2rem;
    margin-bottom: -8px;
  }

  #Subtitulo {
    text-align: center;
    color: #e6c4929a;
  }

  p {
    color: #331f19;
    font-size: 16px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    accent-color: #fffcba;
  }

  /*isso se chama estilizacao por atributo no exemplo usamos o inputut radio*/

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="email"] {
    width: 100%;
    padding: 0.3rem;
    border: 2px solid #e6c592;
    outline: none;
    border-radius: 5px;
    /*deixa a borda aredondado*/
    background-color: transparent;
  }

  input::placeholder {
    color: #926354;
  }

  select {
    cursor: pointer;
    background-color: #f1cf9c;
    color: #331F19;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  img {
    width: 5rem;
    border-radius: 5px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    background-color: #462c24;
    /* background-color: #CCD595; */
    color: #f7dcb2;
    /* font-color */
    padding: 1rem;
  }

  ;

  td {
    color: #331F19;
    padding: 1rem;
    text-align: center;
  }

  /* tfoot td{
  background-color: #462c24;
  color: #f7dcb2;
} */

  details {
    background-color: #462c24;
    border-radius: 5px;

    padding: 1rem;
  }

  summary {
    color: #f7dcb2;
    margin: 0.5rem;
    cursor: pointer;
    outline: none;
  }

  ol {
    margin-left: 1.5rem;
    color: #f7dcb2;
  }

  ol li {
    margin: 0.2rem;
  }

  fildset {
    border: 2px solid;
    border-radius: 5 px;
    padding: 1rem;

  }

  legend {
    color: #331F19;
    padding: 0 0.5rem;
    font-size: 18px;
  }

  textarea {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #e6c592;
    outline: none;
  }

  button {
    background-color: #331F19;
    border: none;
    padding: 0.8rem;
    color: #f7dcb2;
    cursor: pointer;
    width: 8rem;
  }

  .section {
    display: flex;
    /* define como um elemento vai parecer na tela se ele for flex, ele fica na forma de linha (que é o padrão) */
    /*se usa quando está usando o atributo flex (transforma os itens automaticamente em flexnitens) no display*/
    flex-direction: column;
    /*por padrao ele vem em row, mas dependendo tem que se colocar em column que ê a forma qur fazemis os itens*/
    gap: 1rem;
    /* define o espaçamento das flex itens*/
  }


  footer {
    background-color: #331F19;
    padding: 2rem;
    text-align: center;
  }

  .para {
    color: #e6c592;
  }
  .link{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
  }

  footera {
    text-decoration: none;
    color: #CCD595;
  }